.Blog-List__Container {
    padding: 1.5em;
    width: 90%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 2em auto;
    /* margin: 0em auto; */
    border: 1px solid #EEEEEE;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.Blog-List__Container--Header {
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.Blog-List__Container--Header-Heading {
    padding: 0.9em;
    margin-bottom: 0.6em;
    align-self: flex-start;
    font-weight: bold;
    font-size: 2rem;
}
.Blog-List__Container--Header-anchor {
    align-self: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform .1s linear;
}
.Blog-List__Container--Header-anchor:hover {
    color:  rgba(6, 133, 244, 0.85);
    transform: scale(1.05);
}
.Blog-List__Container--BlogCards {
    height: 70%;
    display: flex;
    justify-content: space-around;
}

.Backdrop {
    z-index: 10;
    color: #fff;
}